<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="toolQA.test.AlertsFrameWindowsPageTest"/>
      <class name="toolQA.test.FormsPageTest"/>
      <class name="toolQA.test.WidgetsPageTest"/>
      <class name="toolQA.test.ElementPageTest"/>
      <class name="toolQA.test.Grouping"/>
      <class name="toolQA.test.HomePageToolQATest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
